doctype html
html(lang="fr")
  body
    p.
      Félicitations, vous êtes les Alterodos du jour !
    p.
      Comme le veut la tradition, un déjeuner (ou goûter ?) est à organiser entre vous.
    p.
      A vos agendas ☀️
    p.
      A+ ou Cordialement ?

    p.
      Victor

