doctype html
html(lang="fr")
  body
    p.
      Félicitations, vous êtes les Alterodos du jour !
    p.
      Comme le veut la tradition, un déjeuner est à organiser pour faire plus ample connaissance.
    p.
      A moins que vous ne soyez plutôt goûter ?
    p.
      A vos agendas ⛳️
    p.
      A+ ou Cordialement ?

    p.
      Asakai San

