.plus-one {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: 8px;
  height: 25px;
  justify-content: center;
  width: 25px;
  animation: vanish 0.8s 1 linear forwards;
  position: absolute;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
