steps:
  #step 1
  - name: 'gcr.io/cloud-builders/docker'
    dir: "backend"
    entrypoint: 'bash'
    args: [
    '-c',
    'docker pull gcr.io/theodercafe/backend:latest || exit 0'
    ]
  #step 2
  - name: gcr.io/cloud-builders/docker
    dir: "backend"
    args: [
    'build',
    '-t',
    'gcr.io/theodercafe/backend:$BRANCH_NAME-$COMMIT_SHA',
    '-t',
    'gcr.io/theodercafe/backend:latest',
    '.'
    ]
  #step 3
  # - name: 'gcr.io/cloud-builders/kubectl'
  #   dir: "devops/kubernetes"
  #   args: ['apply', '-f', 'backend-deployment.yaml']
  #   env:
  #   - 'CLOUDSDK_COMPUTE_ZONE=europe-west2-a'
  #   - 'CLOUDSDK_CONTAINER_CLUSTER=backend-cleusteur'
  #step 4
  - name: 'gcr.io/cloud-builders/kubectl'
    dir: "backend"
    args: [
    'set',
    'image',
    'deployment',
    'nestjs',
    'nestjs=gcr.io/theodercafe/backend:$BRANCH_NAME-$COMMIT_SHA'
    ]
    env:
    - 'CLOUDSDK_COMPUTE_ZONE=europe-west2-a'
    - 'CLOUDSDK_CONTAINER_CLUSTER=backend-cleusteur'
  # push images to Google Container Registry with tags

images: [
  'gcr.io/theodercafe/backend:$BRANCH_NAME-$COMMIT_SHA',
  'gcr.io/theodercafe/backend:latest'
  ]

  # - name: gcr.io/cloud-builders/npm
  #   args: [install]
  #   dir: "frontend"
  # - name: gcr.io/cloud-builders/npm
  #   dir: "frontend"
  #   args: ["run", "create-env"]
  #   env:
  #     - "REACT_APP_BACKEND_URL=${_REACT_APP_BACKEND_URL}"
  # - name: gcr.io/cloud-builders/npm
  #   args: [run, build]
  #   dir: "frontend"
  # - name: gcr.io/cloud-builders/gcloud
  #   args: [app, deploy]
  #   dir: "frontend"
